[2015-05-27 11:19] LinuCC opened #1 "Excelsior theme add lineHighlight"
The ```lineHighlight```-key is missing in the definition, so that the line gets highlighted with ```#FFFFFF``` when having the option ```"highlight_line": true``` in the User-settings.
Would be nice if that was changed to something sensible.

[2015-05-27 12:16] #1 closed

[2015-05-27 12:16] bathos commented on #1
Thanks, fixed!

[2015-09-09 02:18] cwbit opened #2 "Package Browser Install"
Hi! Not really so much an issue maybe, but this package does not come up in the in-app package control install menu.

Not only does this look like exactly what I need, but it looks like you put a ton of time into it!

Is installation via the package manager not supported?

Thanks!

[2015-09-09 02:59] bathos commented on #2
The package is called Ecmascript Syntax on Package Control. However it requires Sublime version 3084 or higher ... and the latest public version of Sublime 3 is 3083 :(

PackageControl doesn't show packages unless your Sublime meets the requirements, so that's the most likely reason for not seeing it in the list. If that is the reason, you can download the [latest dev channel release](http://www.s

[2015-10-28 11:17] barneycarroll opened #3 "Arguments following spread"
Thanks for the fantastic work on this. My terse method declarations and bind operations read sensible now. It's a huge boon!

I've spotted the following problems, not sure if it's an issue with themes or the parser - Carthage doesn't suffer (although I find almost everything except for operators and functions impossible to distinguish in Carthage anyway). All these screens were taken in Monokai, b

[2015-11-01 15:44] bathos commented on #3
Thanks. I tried to nail this quick the other day since I only had a minute, and accidentally did params instead of args. Revising now.

[2015-11-01 16:14] #3 closed

[2015-11-01 16:19] barneycarroll commented on #3
Thanks! Incidentally, this reminded me how irritated I am that a leading rest operation is illegal in the first place. Don't suppose you've got any insight on why this is the case?

[2015-11-01 17:07] bathos commented on #3
I bet there are ES Discuss records about that. Perhaps it would create some hidden complexity. Superficially, permitting a "rightward" mapping is not ambiguous:

    function poop(...rest, last) {}
    function poop(...rest, penultimate, last) {}

The first thing I can think of is that it does require some new grammar, because this, along with any other parameter declaration with two rests, is non

[2015-11-01 17:27] bathos commented on #3
Other thoughts: In your own code, you can implement a simple util for supporting right-to-left rest-params. (More complex forms wouldn't be so easy to represent, though):

[code]

On [Babel REPL](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=const%20reversedRest%20%3D%20fn%20%3D%3E%20%7B%0A%20%20const%20ln%20%3D%20fn.length%3B%0A%20%20%0A%20%20return%20(...a

[2015-11-26 05:21] akurtz commented on #2
+1  @bathos: You, sir, have to be one of the most detail-oriented devs I've seen on Github.  Kudos.  Really sorry you went to all this trouble with so few people able to use it.  It looks awesome and I'd love to try it, but at 8 months since the last "stable" beta release and 4+ months with nary a peep from the developer with no response to bug reports, I'm afraid ST is becoming abandonware.  Hope

[2015-11-28 03:53] bathos commented on #2
Thanks @akurtz.

Yeah, the state of ST is pretty worrisome. Seems like a lot of folks are jumping ship for Atom, but as far as I can tell, Atom only supports tmLanguage, so there's no simple way for me to port this without losing most of what made it cool. Since Atom is purportedly fully "hackable" I wonder if it's be possible to write an alternative highlighting engine for it with the same power

[2015-11-28 04:22] akurtz commented on #2
@bathos You da real MVP.  Don't let this die when ST goes the way of Textmate.

[2016-01-01 06:53] aziz opened #4 "Variables that hold a function should have a entitiy.function scope"
In all the other javascript syntaxes when you have a code like this:

[code]
`parseXML` and `add` would both gem a scope like `meta.function.js entity.name.function.js`
You can see that even github does this. I really miss it.

[2016-01-01 06:55] aziz opened #5 "More specific scopes for `module.export` and `exports` for node"
I want to give these keywords a special color but I can't. the scope is a bit too generic.

[2016-01-01 09:24] bathos commented on #4
I thought this was a bug for a second, but then realized that in your example, the one you're pointing out as unscoped a property, not a variable declaration, and I hadn't thought to scope such things in this manner. It might be tougher to achieve that systematically with the grammar-focused approach of this syntax scoper than it would be in a more conventional definition, but I'll look into it.

[2016-01-01 10:07] #4 closed

[2016-01-01 10:07] #5 closed

[2016-01-01 10:09] bathos commented on #5
the new scope is called `support.variable.node.module.es`. It covers:

- the identifier `module`
- the identifier `exports`
- the property `exports` when accessed on `module`

[2016-01-01 10:17] bathos commented on #4
The following scopes will now be applied to binding identifiers in all situations, not just within initializers:

- `entity.name.function`
- `entity.name.function.async`
- `entity.name.function.async.arrow`
- `entity.name.function.generator`
- `entity.name.function.arrow`
- `entity.name.method`
- `entity.name.method.async`
- `entity.name.method.generator`

[2016-01-01 10:24] bathos commented on #5
@aziz By the way, if you're working on a theme, please feel free to open a PR to add it to the package!

[2016-01-01 13:02] aziz commented on #4
It still does not work for this case:

[code]
<img width="385" alt="screen shot 2016-01-01 at 2 01 58 pm" src="https://cloud.githubusercontent.com/assets/3202/12070898/482aafe2-b090-11e5-8ae7-c958485eddf1.png">

[2016-01-01 13:14] aziz commented on #5
I've just updated my color scheme to support your awesome ES syntax.
Here is the [code](https://github.com/aziz/sublimeText3-Userfiles/blob/master/Color%20Schemes/PlasticCodeWrap2.tmTheme) and you can [preview it here](https://tmtheme-editor.herokuapp.com/#!/editor/url/https://raw.githubusercontent.com/aziz/sublimeText3-Userfiles/master/Color%20Schemes/PlasticCodeWrap2.tmTheme)

[2016-01-01 13:31] aziz opened #6 "Lacking root scope of `souce.js` breaks a lot of other packages"
I'm wondering why you've decided to change the root scope from `souce.js` to `source.es`
This cause a lot of other packages of mine to break. Things from auto completion to ES6 compiler.
Isn't it possible to stick with `source.js` and just extend the more specific scopes.
Something like  `source.js  variable.parameter.es` instead of `source.es variable.parameter.es`

[2016-01-01 20:10] bathos commented on #6
This was done mainly to distinguish the 'interoperability scopes' that let other themes still work more or less correctly with ES Sublime from the 'native' stuff. All the packages I've dealt with work off extensions, I guess, so I wasn't aware that there were non-highlighting-related packages hooking into the highlighting scopes to do stuff. I'll look into adding source.js as either a second commo

[2016-01-01 20:17] bathos commented on #4
@aziz There was a window in there where I put up a release (0.2.6) before I caught that oversight (0.2.6.1, a few minutes later). PackageControl noticed the first one immediately but there's a minimum wait before it will pick up the next change. Right now, PackageControl is actually down:

![image](https://cloud.githubusercontent.com/assets/6257356/12072042/a637c228-b09a-11e5-8ef6-636ead5433e5.png

[2016-01-01 20:51] bathos commented on #4
I tested this with your theme locally and can confirm that your last example works with the latest updates. I also tested some other cases with your theme though and found that it was still missing cases where the function was an initializer value, despite those scopes having always existed. The reason for that is that other scopes were taking precedence over it.

I've adjusted those scopes now (w

[2016-01-02 00:57] aziz commented on #6
Most snippet packages are not working, I use:
- JavaScript & NodeJS Snippets
- React ES6 Snippets
- ES6-Toolkit

I managed to change the settings for some other packages to make them work but it's still really annoying since packages are not working out of the box. I got these working so for:

- SublimeLinter-contrib-eslint
- AngularJS

[2016-02-05 09:38] aziz opened #7 "Support JSX"
I'm quite use to your awesome syntax for javascript and I hate it that I need to switch to Babel Javascript to edit react jsx files. It would be nice to support JSX since react is becoming more and more popular.

[2016-02-05 09:40] aziz commented on #6
Everything about this package is awesome except this decision of yours to change the root scope! It breaks so many packages and causes so much pain. Why not keeping the `source.js` as the root but immediately adding `source es` after that.

[2016-02-08 06:06] bathos commented on #7
I think that does it. I only added colors for it in Excelsior -- probably not the best ones, either -- feel free to open a PR if you can make it prettier.

[2016-02-08 06:06] #7 closed

[2016-02-08 06:07] bathos commented on #6
Added with 0.3. Let me know if that fails to fix it; I included both at the root, which I think should be fine, but I didn't test it admittedly.

[2016-02-08 06:07] #6 closed

[2016-02-08 09:08] aziz commented on #7
:+1:  awesome

[2016-02-08 09:13] aziz commented on #6
seems to fix all my problems. Thanks again for making this awesome package.  Javascript is going through a lot of changes packages like this need constant maintenance and attention.

[2016-02-09 23:34] aziz opened #8 "JSX Improvements"
- Comment shortcut inside jsx should insert JSX style comments
https://github.com/babel/babel-sublime/blob/master/Comments%20(JSX).tmPreferences

- babel package highlights the matching tag just like what sublime does on normal HTML/XML files
<img width="224" alt="screen shot 2016-02-10 at 12 31 35 am" src="https://cloud.githubusercontent.com/assets/3202/12934273/adfb81d6-cf8d-11e5-8170-4739a32bea

[2016-02-09 23:55] aziz opened #9 "Support for ES Class Fields & Static Properties"
https://github.com/jeffmo/es-class-fields-and-static-properties
<img width="513" alt="screen shot 2016-02-10 at 12 55 18 am" src="https://cloud.githubusercontent.com/assets/3202/12934722/fdccc712-cf90-11e5-9d61-3c19f1ad23c7.png">

[2016-02-10 00:24] bathos commented on #9
I still don't like them, but okay :)

[2016-02-10 00:25] bathos commented on #8
Sounds good. Regarding #3, can you give examples of invalid JSX that currently passes as valid? It can be tough to cover all cases, since the 'invalid' highlighting to some extent is only a side effect of how we match, but if I know what to look for I can probably add it.

[2016-02-10 21:57] aziz opened #10 "Support Flow static type declaration"
Again looking at on some React project I see a lot of invalid scopes because they've used flow type declarations. I believe it should be easy to add support for it, right?

[2016-02-10 22:02] aziz opened #11 "Missing some meta scopes to mark a whole block of something"
This is a bit tricky to describe. But we need some meta scopes to mark the begining and end of things to be used by other packages, and not neccesarily color schemes.
For example a meta scope for selecting all the function parameters or another meta scope to select the body definition of a funtion/class/object.
Did you get my idea?

[2016-02-10 22:24] aziz opened #12 "Special scope for the class that is being extended"
[code]

`Component` should have a special scope not just `variable.other.readwrite.initCap.es`.
something like: `entity.name.class.extended.es`

[2016-02-11 00:19] bathos commented on #12
Good idea, this can be done. However, you should note that the super production is an open-ended assignment expression. It would not be an entity.name, because it can be anything at all; meta.super-expression would be consistent with conventions. I try to avoid meta when possible, but this is a good case for it I think.

[2016-02-11 14:24] bathos commented on #10
I'm afraid Flow doesn't belong here. Flow isn't an extension of the ES grammar in the same sense as JSX. In the case of JSX, the grammar was carefully designed to ensure it would never conflict with existing ES productions; it is truly a "safe" extension. But Flow isn't simple like that. Though the lines can be blurry, and they don't say it outright in their docs, Flow isn't JS, it's a *different

[2016-02-11 14:25] #10 closed

[2016-02-12 10:10] aziz commented on #10
Fair enough!

[2016-02-12 10:14] aziz commented on #8
For example in the screenshot above if I start to delete some characters from `</HEADER>` it should become invalid. additionally `<HEADER ...` should also become invalid since it does not have any closing tag anymore.

[2016-02-12 12:03] bathos commented on #8
Hm. As far as I know, there's no mechanism in Sublime Syntax that could allows for dynamic variables like this. If the text were all in one line, it could be done within a single regex pattern, but that won't really help here. So I checked out how BS was doing it, figuring there was maybe a special sublime config for tag matching or something. Instead, I was surprised to find this in the tmLanguag

[2016-02-12 12:10] aziz commented on #8
back references has been supported by tmLanguage and Sublime Syntanx is also support them.
[from the docs](https://www.sublimetext.com/docs/3/syntax.html):

name: PHP
scope: source.php
contexts:
  main:
    - match: <<<([A-Za-z][A-Za-z0-9_]*)
      push: heredoc
  heredoc:
    - meta_scope: string.unquoted.heredoc
    - match: ^\1;
        pop: true

[2016-02-12 12:17] bathos commented on #8
Ah, thanks. I was under the impression that backrefs in SS had to live in the same context -- which doesn't actually make sense on reflection -- you're correct, this should work. Thanks!

[2016-02-12 14:41] bathos commented on #11
Yup, we can add more of these -- but I think I need more specific knowledge of what we're trying to provide. Are these existing packages that look for specific meta scopes? If so, I'll need to know what the scope names they're looking for are.

[2016-02-12 14:47] aziz commented on #11
No, it was just me thinking about writing a package to add more of those `Expand Selection to ...` in the selection menu for javascript. babel package does a relatively good job on this regard, lots of meta tags to denote the scope of code.

[2016-03-05 00:09] bathos opened #13 "March 2016: ST3 Latest Builds Break Tons of Stuff"
Just putting out there that I know about these problems. In the latest dev builds, there was a fundamental change made to how SublimeSyntax handles backreferences that breaks quite a few parts of this syntax definition. It might take me a while to track down all the places where I need to adapt things to the new rules.

[2016-03-21 00:28] bathos commented on #13
Less was affected than I thought -- it would seem? Could have sworn I saw more issues when I wrote this, but they may have been temporary -- ST3 is now two versions further along than when the breaking change to Sublime Syntax was first introduced.

[2016-03-21 00:28] #13 closed

[2016-03-21 00:47] bathos commented on #8
This cannot be done after all, I'm sorry to say. The JSX grammar permits arbitrary whitespace, newlines or comments within the ElementName production, e.g. around the namespace colon and the dot in the member expression production. Therefore we can't actually capture it in a single pattern.

On one hand, the frequency of variations in the wild is probably low, and we could get away with artificial

[2016-03-21 00:47] #8 closed

[2016-03-21 01:15] #9 closed

[2016-03-21 01:15] #12 closed

[2016-03-21 01:18] bathos commented on #9
Here are the three new scopes. I've also updated the Excelsior theme to take them into account.

`x = 3;`

- `x`: variable.other.readwrite.property.class
- `=`: punctuation.separator.key-value (it isn't the assignment operator, here)
- `;`: punctuation.terminator.property (it isn't the statement terminator, here)

[2016-03-21 01:20] bathos commented on #12
`meta.super-expression` is now applied across the super expression

[2016-03-21 09:54] aziz commented on #8
I agree. Thanks for all the efforts.

[2016-04-03 02:44] Daerzo opened #14 "Static class property productions are not recognized"
{_sorry for my bad English_}

Copy [this code](http://hastebin.com/raw/wevalutabi) (originally taken from [here](http://www.sitepoint.com/quick-tip-video-player-component-react/)) into your ST, and you'll see the problem with highlighting.

I'm a beginner, so I don't know whether the problem is in your package or in the syntax of the code itself.

[2016-04-03 03:18] bathos commented on #14
Thanks, confirmed. I only added support for the class properties proposal a few weeks ago and apparently I left this out.

[2016-05-16 12:57] aziz opened #15 "function expression not recognized when appearing as assignment value outside of declarations"
[code]

`function` does not have the proper scope
<img width="481" alt="screen shot 2016-05-16 at 14 47 10" src="https://cloud.githubusercontent.com/assets/3202/15290089/70f8603a-1b76-11e6-9215-67bbbd3c91aa.png">

[2016-06-22 14:28] aziz commented on #15
found another one:
<img width="999" alt="index_jsx_ _mnxweb" src="https://cloud.githubusercontent.com/assets/3202/16270339/3dfe8398-3896-11e6-8bf8-7d0b7c584cb4.png">

[code]

[2016-06-24 17:02] bathos commented on #15
This bug introduced when we added the function name scope to cases like `var x = function...`. It will currently happen in any situation where the LHS is not a declaration and the assignment value begins with `function`. Should be an easy fix, really, I just forgot about it!

[2016-07-20 07:54] aziz opened #16 "JSX comments bug"
Does not mark a jsx comment correctly.

[code]

<img width="435" alt="screen shot 2016-07-20 at 09 51 25" src="https://cloud.githubusercontent.com/assets/3202/16979129/bf5b1756-4e5f-11e6-94db-7e30e1e85028.png">

[2016-08-11 09:59] barneycarroll opened #17 "Promise.resolve() breaks theme"
The closing parenthesis of `Promise.resolve()` is seen as a syntax error (providing an argument is fine).
![image](https://cloud.githubusercontent.com/assets/83627/17585245/90a00e1c-5fb2-11e6-849a-0bd419937094.png)

[2016-11-05 17:32] aziz opened #19 "Pressing the comment out shortcut should comment out JSX properly"
In JSX comments should be in this format:

`{/* comment here */}`

Babel Sublime is doing something [like this](https://github.com/babel/babel-sublime/blob/master/Comments%20(JSX).tmPreferences) I tried to do the same but it's not working and I don't know why.

[2016-11-05 18:32] #19 closed

[2016-11-05 18:34] bathos commented on #17
Fixed in 0.3.3.

[2016-11-08 11:28] Grivel-l opened #21 "Sublime text crash"
Hi,
This plugin makes my Sublime text crash, when this syntax is active and I write something between my [ ], it often crashes.
For example I have:
`<MyElement style={[styles.myStyle, this.state.myElement.getLayout()]}>`
If I try to write a brace before `this.state.myElement.getLayout()` like this:
`<MyElement style={[styles.myStyle, {this.state.myElement.getLayout()]}>`
 my Sublime text crashes.

[2016-11-08 19:28] thematho commented on #21
I have the same problem buth in different scenario, seems like Sublime Indexing is broken as well when trying to index the following scenario:
Using .es6 files:
`var foo = function () {/*...*/ };`
This doesn't happen when I name the anonymous function.
`var foo = function foo() {/*...*/ };`

[2016-11-09 02:42] bathos commented on #21
Confirmed, it’s related to changes that went in two days ago. On it.

[2016-11-09 02:53] bathos commented on #21
Fixed, Package Control should pick it up within the hour.

[2016-11-09 02:53] #21 closed

[2016-11-09 09:10] Grivel-l commented on #21
Thank you for the quick fix !

[2016-11-09 12:26] thematho commented on #21
Confirm It's fixed. However there is a little detail:
Using the same example [Plunker](https://plnkr.co/edit/a5kTag?p=catalogue)  there is a warning highlighting in the parenthesis of the anonymous function. Naming the function removes the warning.

[2016-11-09 20:46] bathos commented on #17
@aziz this one is specifically because I was being excessively fancy with Promise itself even though it’s not really in the syntactic realm. I think I can just remove that handling and no one will miss it.

[2016-11-14 08:31] aziz opened #22 "ES proposal `export ... from ...` is marked as invalid"
[code]

![screen shot 2016-11-14 at 09 29 35](https://cloud.githubusercontent.com/assets/3202/20257920/10a4df4a-aa4d-11e6-8d40-f7fedc9634f9.png)

[2016-11-14 22:23] bathos commented on #22
Changed the title because it’s actually not valid ES6 — rather this is a stage 1 proposal that Babel supports:

https://github.com/leebyron/ecmascript-export-default-from

I agree it’s a bug though, this is a transform a lot of people use.

[2016-12-13 10:40] #17 closed

[2016-12-13 10:41] #11 closed

[2016-12-13 10:53] #22 closed

[2016-12-13 10:57] #14 closed

[2016-12-13 11:03] #16 closed

[2016-12-13 11:03] #2 closed

[2016-12-13 16:25] aziz commented on #15
This is not fixed for me. it still looks the same as what is shown in the screenshot

[2016-12-13 16:40] bathos commented on #15
Oops, sorry, @aziz, I mistook this one for the problem with `foo = function() {}` — I’ll fix this one too when I get home from work.

[2016-12-14 12:06] aziz opened #23 "JSX is broken"
Anything with curlies that's not an attribute is causing a lot of invalid sections
![screen shot 2016-12-14 at 13 04 41](https://cloud.githubusercontent.com/assets/3202/21181416/1b7c6776-c1fe-11e6-9a14-669108dd96d6.png)

[2016-12-14 13:00] #15 closed

[2016-12-14 13:18] #23 closed

[2017-01-12 05:42] stevenxxiu opened #24 "Auto-indent not working for methods"
Hi, great work and very happy with this package!

I have a small problem, when I type

    class A {
      a(){

and hit enter, sublime usually increases the indent, but in this package it is not. Any chance of fixing this? I haven't investigated it yet.

[2017-01-12 09:27] stevenxxiu opened #25 "array destructuring not working with `this`"
The following reports an error but is valid:

    [this.a, this.b] = [1, 2]

[2017-01-14 04:38] bathos commented on #25
Noticed this recently, too. It’s true for the assignment targets in object destructuring, too  — should be an easy fix though.

[2017-01-14 07:38] #25 closed

[2017-01-14 07:39] bathos commented on #25
Addressed in https://github.com/bathos/Ecmascript-Sublime/releases/tag/1.0.2

[2017-01-14 07:41] bathos commented on #24
@aziz do you have any insights here? I fiddled with the indent rules and what I discovered was that they are seemingly just being ignored entirely. It didn’t matter what I put in there; I always got the same behavior. I’m guessing the metadata that associates it with the syntax definition might be borked somehow, but whatever is wrong, I’m not spotting it.

[2017-01-14 07:44] bathos commented on #24
More context: I’m pretty sure this did work correctly at one time, and I’m not sure when it stopped.

[2017-01-14 09:20] stevenxxiu commented on #25
Awesome, thanks!

[2017-01-21 21:54] stevenxxiu opened #26 "End of comment triggers auto-complete"
If I type a new comment `// ` then it triggers auto-complete at the end, since it's marked as `meta.whitespace.es` instead of comment. Is there a way to disable this?

[2017-01-22 22:19] bathos commented on #26
Ah, never noticed this. While it’s behaving "correctly" (`SingleLineCommentChar:: SourceCharacter but not LineTerminator`) it’s probably better for us to depart from that precision in this case and say the LF is part of `comment.line` anyway.

[2017-01-30 04:15] stevenxxiu opened #27 "async delete()"
The following is valid but shows an error. Delete is a common method for maps, sets, so it might be a common use case:

    class A {
      async delete(){

      }
    }

[2017-01-30 04:25] stevenxxiu commented on #27
I'm not that familiar with `.sublime-syntax` but I think this patch works at line 3854:

        asyncMethod_AFTER_ASYNC:
          - match: '(({{identifierName}}))'

[2017-01-30 08:01] bathos commented on #27
yep, that is the exact correction needed

[2017-01-30 08:08] bathos commented on #27
Fixed in 1.0.3

[2017-01-30 08:08] #27 closed

[2017-01-30 08:13] bathos commented on #26
fixed in 1.0.4 (should have done them both at once, but I didn’t remember this until after the other fix)

[2017-01-30 08:13] #26 closed

[2017-01-30 11:13] stevenxxiu commented on #26
thanks!

[2017-02-24 13:44] stevenxxiu opened #28 "Possibility for flow support"
Can this package support [flow](https://flowtype.org/)? So far it's the only syntax package there is that covers es6 properly, so flow support would be great.

[2017-02-24 16:07] bathos commented on #28
We could do it in a secondary definition adapted from ES, but both flow and typescript represent large divergences from ES grammatically from the perspective of a definition like this despite (in the latter case at least, not sure if Flow is as careful) striving to be a superset.

In other words you’d choose "Ecmascript (Flow)" or something as opposed to "Ecmascript" when selecting syntax.

I did

[2017-02-24 16:17] aziz commented on #28
1. This is THE BEST syntax highlighting you can get for modern Javascript in ANY editor.
Thanks again @bathos for building this.

2. I asked this before in #10

3. I think the ["Language Reference"](https://flowtype.org/docs/builtins.html) should be enough

4. It's a really good idea to build a secondary syntax on top of ES and sublime syntax should allow us to do it easily.

[2017-02-24 16:29] bathos commented on #28
I’m afraid their documentation doesn’t answer those kinds of questions, it just hints at what the answers _might_ be. For projects like flow, the grammar definition is often effectively "whatever the library happens to expect" — i.e. it’s a black box, and you can only figure anything out by manually testing it until you find the specifics. The majority of the work would end up being experimenting

[2017-02-25 11:51] aziz commented on #24
I can't replicate this bug in my environment (Sublime 3125 on Mac)
Do you have the default `Javascript` syntax disabled?

could you give me more examples on how to trigger this indentation issue?
could you paste your settings regarding indentation in your `User/Preferences.sublime-settings`

[2017-03-08 11:13] barneycarroll opened #29 "Ternary statements edge case"
Given the ternary statement `a ? b : c`, syntax highlighting breaks down when `a` and `?` are on one line and there is a line break between `?` and `:`.

This is sometimes useful when `a` and `b` are short expressions but `c` is large.

***

Thanks so much for this wonderful package. The detail of token distinction is exceptional - there's nothing quite like it.

[2017-03-08 11:26] barneycarroll commented on #29
There are other edge cases - it seems the general rule is that multiline ternary statements are problematic unless explicitly wrapped in parentheses.

[2017-03-08 14:14] bathos commented on #29
Can you include an example of code that causes this? There’s nothing linebreak-sensitive about the production itself, so we should be able to get this correct 100% of the time. FWIW I normally break ternaries across lines myself and I’ve never seen the scopes for this miss, so I’m wondering if there could be some secondary factor about the internal expressions that might bork it.

[2017-03-08 14:56] barneycarroll commented on #29
To be honest this came up on some very gnarly code that would fail any established lint styling exercise. I'll try and isolate it tomorrow morning.

[2017-03-17 01:19] bathos commented on #29
@barneycarroll if isolating is a hassle, it’s cool to post some straight up gnarl

[2017-04-03 21:01] WsDwA1022 opened #30 "Object literals in single expression arrow functions preceded by unary operators mis-scope as function body punc"
In the following example

[code]

identifier **a** is highlighted like a label, while it is actually property of an object.

[2017-04-03 21:06] bathos commented on #30
haha, interesting — did this come up in real code? I’m pretty sure this is an easy fix, should have time to check this out later in the week.

[2017-04-03 21:32] WsDwA1022 opened #31 "Template literal highlighting issue"
In this example

[code]

function parentheses are highlighted like a wrong syntax.

[2017-04-03 21:38] bathos commented on #31
Good catch, right now it’s incorrectly pushing on the statements state instead of the expression state for template members.

[2017-04-03 22:17] ghost opened #32 "Deleted"
Nothing to see here 😄

[2017-04-03 23:11] bathos commented on #32
ZWNJ and ZWJ are actually included in the pattern used for identifier continuation chars. This may be a sublime limitation?

[2017-04-03 23:20] WsDwA1022 commented on #32
I am not sure about Sublime's limitation, but it seems to work properly with Sublime's native JavaScript package:

![](https://i.imgur.com/CSxh7Wl.png)

[2017-04-03 23:44] bathos commented on #32
Ah, it’s not the joiner — it’s the roman numeral. (The rules you pointed to btw are for ES5 — they changed in ES2015, mostly expanding, but there are some IDs which became invalid, too.)

The roman numerals though do appear in [ID_Continue](http://unicode.org/cldr/utility/list-unicodeset.jsp?a=[:ID_Continue=Yes:]) and this is a bug. Unfortunately we aren’t able to reference derived character prope

[2017-04-03 23:48] bathos commented on #32
I’m going to put this one on the back burner because it’s both super fringe (though I appreciate what you’re doing!) and would best be served by a more significant update the _builds_ the syntax programmatically, something I’ve considered for a long time that would make it more manageable and would address things like this really nicely (since we can just generate the patterns from current Unicode

[2017-04-03 23:51] bathos commented on #29
Gonna close this since I can’t repro and it’s been a few weeks — reopen if you turn something up.

[2017-04-03 23:51] #29 closed

[2017-04-03 23:56] bathos commented on #32
(In general, though, I’m gonna point out that there are some things you might turn up which would be `wontfix` imo, because there are definitely some odd-but-valid things we could _theoretically_ match but which would require so much extra code that it would cause performance and maintenance issues. In practice, you can’t really parse JS with regex alone perfectly, especially when it’s impossible

[2017-04-04 01:18] #31 closed

[2017-04-04 01:30] #30 closed

[2017-04-05 11:44] aziz opened #33 "Missing ES7 features"
sublimehq/Packages#876 also applies to this package.

- Async methods inside of a class
[code]
- Class static and instance properties (taken from Babel site)

[code]

[2017-04-05 13:59] bathos commented on #33
The first example there is a syntax error. It’s `static async`.

The second isn’t an ES7 feature, it’s a stage 1 proposal, and also a syntax error\*, albeit one Babel currently permits; you’ve omitted the separating semicolon after the second assignment.

\* Maybe. We just don’t know yet how ASI will work, or if it will work, in this situation, since to date ASI applies specifically to statements.

[2017-04-05 13:59] #33 closed

[2017-04-05 14:07] bathos commented on #33
(BTW, it may help to clarify why `static` is always the first keyword, since the order isn’t arbitrary. The presence or absence of `static` is an instruction "about the class": in the latter case it says "this next one is a property definition for the constructor" and in the former it says "this next one is a property definition for the prototype". In contrast, `async`, like `*`, is a keyword that

[2017-04-23 05:34] bathos commented on #32
wat

[2017-04-23 05:34] #32 closed

[2017-04-23 06:00] bathos opened #34 "Ecmascript ... Atom?"
For the last few weeks I’ve been experimenting with alternative approaches to the tmLanguage / sublime syntax regex based approach to highlighting to finally get around the limitations baked into these systems.

Unfortunately the Sublime API doesn’t provide the necessary hooks to perform scoping by other means — but it seems that, although it’s not immediately obvious from the docs, Atom does.

I’

[2017-05-14 17:12] aziz opened #35 "Add a custom scope to React component in JSX"
VSCode in their insiders version started doing this and I really liked it.
I would like to have it in this syntax as well.
![screen shot 2017-05-14 at 7 10 38 pm](https://cloud.githubusercontent.com/assets/3202/26036177/4946be48-38d9-11e7-9c13-877e88ab904b.png)

[2017-05-14 18:24] bathos commented on #35
We can add this to ES Sublime, but with the context limitations it will only be possible to add the extra annotation to classes that conform to the pattern `class ws+ (name ws+)? extends ws+ React ws* dot ws* Component ws* leftBrace`. Do you consider that good enough? Are there other patterns that you can think of that would be signals and are unlikely to generate false positives?

[2017-05-15 21:01] aziz commented on #35
I don't think you understand me correctly. I asked to add a more specific scope to React component  names when they're referenced in JSX.
Note the different color in the screenshot above between `<BasketContent>` and a normal html tag  like `<div>`.
This is easy since inside JSX, all react component should always be capitalized and html tags are lower cased. I think this is what VSCode Syntax High

[2017-05-16 08:24] bathos commented on #35
Ah, got it, when I saw the scope list in the screenshot I was thinking 'support.class.component' was an outer scope containing the entire class declaration. Yes, distinct scopes for html vs custom component names makes sense — and unless I’m mistaken about how JSX works today, I’m pretty sure it literally determines token type by casing (i.e. they don’t use a whitelist anymore, and it’s not merely

[2017-05-16 13:45] aziz commented on #35
Yes

I'll see what I can put on my wishlist

[2017-05-17 08:30] aziz commented on #35
My biggest pain in working with JSX is that I loose all the nice features that sublime gives you when working with a normal HTML file.
Things like, Auto-completion or Auto closing tags or Auto indentation.
I know JSX is not HTML but it would be awesome if we could find a way to make those feature work inside a JSX block as well.

[2017-05-17 14:05] bathos commented on #35
We can probably lift this logic from the XML syntax def wholesale (JSX is slightly closer to XML than HTML as far as element logic goes).

[2017-05-21 13:57] bathos opened #36 "Dynamic `import()` is now stage 3"
Need to add support for this.

[2017-05-26 10:37] aziz commented on #35
- JSX syntax highlighter is a bit aggressive and quickly mark half of the page as invalid

[2017-06-20 21:30] guest161373 opened #38 "A few syntax issues"
# Test cases

[code]

# [How it looks](https://i.imgur.com/oTRozFE.png)

[2017-06-20 21:59] bathos commented on #38
Regarding some of these, like `let` and `async`, while some allowances are made for these to be recognized as identifiers in plausible scenarios, keep in mind that a regex based syntax highlighter can never have adequate context to differentiate a Script from a Module. ES Sublime presumes module.

We also can't actually parse expressions, so instead we need to rely on heuristics to determine plaus

[2017-06-20 21:59] #38 closed

[2017-06-20 22:00] bathos opened #39 "Empty statements in while statement etc not recognized"
e.g. `while (i++) ;`

[2017-06-21 11:45] guest161373 opened #40 "A few more issues"
You said that you're not gonna fix my previous report because "it is not a real code". Which criterium do you use to distinguish between "real" and "imaginary" code?

However, I tried to find better issues which you probably want to fix (like one with if statement etc).

[code]

What is real code if this is not? People sometimes put comment to describe function name, so the first one may appear in

[2017-06-21 18:01] bathos commented on #40
There are no objective criteria I can provide. But to give an example from the last batch, one was failure to recognize spreading a numeric literal. While lexically and semantically valid, in practice this would imply an augmented `Number.prototype` having a `Symbol.iterator` implementation (doing god knows what). Though technically calling this "not real code" is a subjective determination, I thi

[2017-06-21 21:29] guest161373 commented on #40
@bathos Then you should at least change the description of your project which currently says *"Sublime-syntax definition for ES6+ with absurdly specific scopes"*. There are hundreds of syntax highlighters which cover a lot more cases than your package. Your description should be titled *"Basic JavaScript syntax definitions for ES1"*.

If your goal was to create a pretty good and fast JavaScript hi

[2017-06-21 22:34] bathos commented on #40
Wow, so many great questions. I’ll give this some thought, thanks.

[2017-06-21 22:34] #40 closed

[2017-07-25 02:18] pucelle opened #41 "I found a bug in "get" and "set" prefix for object"
Hi, I found codes like this can't be highlighted correctly:
`
{
    get () {
        ....
    },
    set () {
        ....
    }
}
`

[2017-07-25 04:16] bathos commented on #41
Thank pucelle. I thought this was something that got fixed a while back, and when I test it I’m getting the right behavior:

<img width="414" alt="screen shot 2017-07-25 at 12 15 10 am" src="https://user-images.githubusercontent.com/6257356/28555497-59639c9c-70ce-11e7-9aa9-6182a7495662.png">

However it might be borked only in specific contexts. Can you provide a complete chunk which reproduces th

[2017-07-31 03:28] pucelle commented on #41
Hi, Bathos.
Sorry for reply you late.
Here is code that cant work with my sublime:`
Watcher.prototype = {
	get () {
		let oldDeps = this.deps
		let newDeps = this.deps = Object.create(null)

		runningWatcher = this
		let value = this.getter.call(this.vm[proxySymbol])
		runningWatcher = null

		for (let key in oldDeps) {
			let oldObserver = oldDeps[key]
			if (!newDeps[key]) {
				oldObserver.remo

[2017-07-31 03:32] pucelle commented on #41
Here is the screenshot:
![get-set](https://user-images.githubusercontent.com/9691487/28761797-e0675962-75e3-11e7-9b66-e865678c2f59.png)

[2017-07-31 14:28] bathos commented on #41
That appears to be a different syntax definition for JS, not ES sublime. The scoping throughout that screenshot is not consistent with this library.

[2017-07-31 14:28] #41 closed

[2017-08-01 08:12] pucelle commented on #41
Hi, Bathos:
After checked my syntax config in Sublime, I did choose the "JavaScript" as syntax, not 'EcmaScript'.
Sorry for the trouble I made.

[2017-08-09 07:58] are1000 opened #42 "Static properties without semicolons break everything"
Just like in the title.

![d85skl9](https://user-images.githubusercontent.com/3817785/29111057-2b770ad6-7ce9-11e7-9e6f-3f03586d4626.png)

[2017-08-09 08:42] bathos commented on #42
At the time I introduced class fields here it did not yet have a formal grammar and it was unclear whether ASI would be applicable, so this choice was made intentionally. The formal grammar today does permit ASI however, despite the much higher chances of ambiguous sequences in class bodies, so I can give supporting it a go (with the caveat that ASI-like behavior in a pattern-based syntax def like

[2017-08-09 09:38] #36 closed

[2017-08-09 09:38] #39 closed

[2017-08-09 09:38] #42 closed

[2017-08-23 00:30] spence opened #43 "Arrow function as value of class instance field"
Seems like class methods using arrow functions are not supported?

<img src="https://user-images.githubusercontent.com/138762/29593496-8b189678-875f-11e7-85f3-1637e88e98aa.png" width=300 />

[2017-08-23 07:47] bathos commented on #43
Can you explain more about what was expected? Since it looks like you’re using a theme that doesn’t have styles for most of the stuff in this syntax def, it’s hard to tell what isn’t working as expected there.

[2017-08-31 05:33] bathos commented on #43
Oh hey there @dangh ! Looks like you figured out what this issue was asking for.

(Your flow work looks really great. Do you think it’s sensible to incorporate it here?)

[2017-08-31 05:48] bathos commented on #43
Closed with 1.1.2, which pulls in the fix from @dangh’s fork.

[2017-08-31 05:48] #43 closed

[2017-09-03 20:59] dangh commented on #43
Oh hey there @bathos, thanks for inviting me.

To be honest, I'm not fully understand sublime syntax and I'm not a Flow user myself. My fork is purely experimental and not ready to use atm. I still improving it  and will make pull request whenever I feel it's good enough 😄

Thank you so much for your js syntax. It's the best.

[2017-09-03 21:46] bathos commented on #43
Thanks! It looks like it’s coming along great, so if you do get it to a spot where you think it’s ready I’d be happy to take it for a spin / review. Some of the stuff in your "personalize" branch seems like it would represent solid improvements for all users, too.

[2017-09-21 15:41] barneycarroll opened #45 "Multiline signature destructuring"
New lines seem to break signature syntax highlighting:

![screen shot 2017-09-21 at 16 38 26](https://user-images.githubusercontent.com/83627/30704784-a9c36fdc-9eeb-11e7-944b-e9b726fed815.png)

[2017-09-21 15:48] bathos commented on #45
This is one of those tricky spots that come from having no way to see beyond the current line at any given point, a limitation of SublimeText. At "({", there’s no way to tell if it’s an object literal, arguments with destructuring, or regular assignment destructuring. In this case it’s assumed object literal at the start and doesn’t recover nicely (even after the second line, it’d still be ambiguo

[2017-09-21 15:57] barneycarroll commented on #45
That's interesting. So this is limited to arrows. There is (I think?) a problem case that can be addressed within this constraint whereby the first line contains a default assignment…

[2017-09-21 16:18] bathos commented on #45
That’s true, yep. There is some handling for similar cases already that tries to "recover", which is what we’ll need to introduce here. This one is complicated a bit extra because at that stage we can know it’s an object binding pattern, but not whether it’s function parameters or an assignment expression (not detectable until the fifth line).

[2017-09-21 16:36] barneycarroll commented on #45
Oh I see… So there's a dilemma of erring on the side of caution (we can't tell that this is valid code) and trusting the author (param assignment indicates a signature, we'll assume you know what you're doing until proven otherwise)… Because if it *is* an object literal, leaving the syntax error to the last line will be totally misleading 🤔

[2017-09-21 17:01] bathos commented on #45
Well, not quite that — I would say the current behavior is a bug / oversight. The `=` disambiguates the `{}` structure as a binding pattern, since it would only be valid there, and we can proceed as if that was what we thought it was all along from that point on with a bit of sneakiness (though there’s no way to go back and correct the scopes for stuff prior). But we `=` does not tell us it’s _par

[2017-12-01 23:15] #45 closed

[2017-12-01 23:22] bathos commented on #45
@barneycarroll There’s now an escape route for recovering from ambiguity in this position. Although it will always get the first n lines scoped wrong, and it won’t know in a case like this that the binding pattern belongs to parameters, it now at least knows that if it sees an assignment, it should switch to interpreting the remainder as a binding pattern; and existing recovery logic already takes

[2017-12-02 03:32] bathos commented on #35
@aziz I’m currently rewriting the JSX stuff from scratch. I’d worked originally off the published grammar, which in practice isn’t accurate (uses xml-style namespacing, for example). I’ve added tentative half-assed support for Styled JSX to the latest release, but am hoping to address it properly soon.

[2017-12-02 12:04] aziz commented on #35
that's great to hear. BTW, JSX has a got some additions last week, Fragments.
I hope you can add support for that as well

[code]

[2017-12-03 21:08] #35 closed

[2018-02-22 21:58] blake-regalia commented on #24
I am also getting this behavior 3126 on Mac. Nothing in debug log, user preferences normal.

[code]

[2018-02-22 22:38] blake-regalia commented on #24
Confirmed. When I replace `decreaseIndentPattern` and `increaseIndentPattern` in `ecmascript-indent.tmPreferences` with the strings from [the JavaScriptNext](https://github.com/Benvie/JavaScriptNext.tmLanguage/blob/master/JavaScript%20Indent.tmPreferences) indent source, everything works as expected.

[2018-02-23 04:06] #24 closed

[2018-03-29 05:53] bathos commented on #34
Closing: although I had some small success when I played around with this, it was super hacky and I didn’t feel like it would remain manageable.

[2018-03-29 05:53] #34 closed

[2018-04-08 19:48] dangh opened #49 "Need 2 semicolons to recover `static` keyword"
As you can see in the screenshot. It used to work before [this commit](https://github.com/bathos/Ecmascript-Sublime/commit/35d74283d5c68134e178c609b28c338f8cba7375)

The first semicolon has scope `punctuation.terminator.property.es`.
The second semicolon has scope `punctuation.terminator.statement.es`.

<img width="167" alt="screen shot 2018-04-09 at 3 41 05 am" src="https://user-images.githubuser

[2018-04-09 01:26] #49 closed

[2018-04-09 01:29] bathos commented on #49
Thanks, esp for including the scope info — there were a few problems with that overhaul, and I thought I’d fixed them all since then, but I forgot to check ASI recovery cases (this affected non-static as well).

Should be good in 1.6.2.

[2018-04-26 01:55] blake-regalia opened #50 "Switch to new `embed` feature once 3153 is stable"
The `embed` feature allows nesting syntaxes by naming their scope rather than their syntax definition file. It also overcomes bugs introduced by sub-syntaxes eating up the escape tokens by allowing a specified regex to always supersede the sub-syntax's context rules.

https://forum.sublimetext.com/t/dev-build-3153/33014/8

[2018-05-01 22:30] bathos opened #51 ""Apparent recursion within a with_prototype action: 25000 context sanity limit hit""
Unsure if this is a Sublime issue or an issue introduced in the last release, but presently the syntax def is unloadable for me.

[2018-05-02 00:00] blake-regalia commented on #51
I'm not getting this on my end. Does this happen no matter the file contents or only when using nested syntaxes (i presume that's why it's complaining about `with_prototype`)? If so, could you post a snippet that is causing this? Which version of Sublime?

[2018-05-02 16:47] rafapaulin commented on #51
Same problem here... using latest sublime build..

Tried commenting the line @blake-regalia mentioned, but it dit no fix =(

[2018-05-02 17:24] blake-regalia commented on #51
@rafapaulin Did you only comment out that line or the whole rule? I should have highlighted the range, try commenting out these 5 lines: https://github.com/bathos/Ecmascript-Sublime/blob/e203d3aa7bbc644704f66c7aaa3e62c24549c9c3/ecmascript.sublime-syntax#L5528-L5532

[2018-05-02 17:34] blake-regalia commented on #51
I have another hunch. It's possible that the Sublime devs thought of making `push/set` native syntax defs automatically use the new `embed` feature, which would be problematic for the nested JavaScript rule because it would recursively load the current default JavaScript syntax, which would be our Ecmascript syntax def. This would certainly be a Sublime bug and not a feature. If this is the case a

[2018-05-04 10:50] rafapaulin commented on #51
@blake-regalia tried to comment out both ranges you suggested, appart from each other and together... still did not fix =(

[2018-05-04 11:07] rafapaulin commented on #51
I may share my sublime license with you if you need

[2018-05-04 16:28] bathos commented on #51
I don’t know much about the new nesting stuff — am I understanding correctly that it is a breaking change in Sublime? Like, is it even possible to have the nested syntaxes working in both current Sublime 3 and the dev build?

[2018-05-04 20:06] blake-regalia commented on #51
@bathos it *should not be* a breaking change, and could have just been a bug in 3166 -- looking at the current dev build changelogs seems like there were some crash issues w 3166, does this still happen in the most recent build?

[2018-05-04 20:14] bathos commented on #51
3167 and 3168 still exhibit the same behavior (sorry I haven’t been able to experiment with this properly myself yet, just been busy w/ work)

[2018-05-08 20:07] bathos commented on #51
3170 is now stable and released, so I believe this now this affects all users, womp. Gonna look into it tonight.

[2018-05-08 21:57] bathos commented on #51
Confirmed that it’s related to nested syntax by fully disabling them — gonna try to re-enable bit-by-bit to see when it freaks out.

[2018-05-08 22:03] bathos commented on #51
...it’s the markdown one :o

[2018-05-08 22:09] bathos commented on #51
I published the easy fix (disabling nested markdown) till we can figure out why this happens. There’s nothing obvious to me; it seems like it’s got to be something unique about the Markdown syntax definition triggering it.

[2018-05-09 01:29] blake-regalia commented on #51
This is most certainly caused by https://github.com/sublimehq/Packages/blob/master/Markdown/Markdown.sublime-syntax#L993 which loads contexts from Ecmascript, which then includes contexts from Markdown, when then loads contexts from Ecmascript, which then includes contexts from Markdown, .... at least, that is my suspicion: https://github.com/SublimeTextIssues/Core/issues/2252

I will see if switc

[2018-05-09 04:08] bathos commented on #51
I think/thought this is possible, but I’m not sure what the correct way to do it is. The registry repo is [Package Control Channel](https://github.com/wbond/package_control_channel), where you’ll see [our entry](https://github.com/wbond/package_control_channel/blob/master/repository/e.json#L186-L196) complete with the typo `ES2105` haha:

[code]

In the releases array, `sublime_text` can associate

[2018-05-09 04:15] bathos commented on #51
I think I found an example that does it with tags — apparently it can [specify a prefix](https://github.com/wbond/package_control_channel/blob/master/repository/c.json#L855-L870):

[code]

[2018-05-09 04:26] blake-regalia commented on #51
Interesting, it looks like you can also use `"tags": true` for the default/latest build and optionally use a prefix for others, [for example:](https://github.com/wbond/package_control_channel/blob/master/repository/e.json#L1524-L1533)

[code]

[2018-05-09 04:34] bathos commented on #51
That example is tags vs branch. I didn’t see any with tags unprefixed + tags prefixed, but I didn’t search for very long so I dunno. (I’m surprised that I couldn’t find any of this documented — I might just be missing it?)

[2018-05-09 05:36] blake-regalia commented on #51
Found it:
[code]

It's in their [example-repository.json](https://raw.githubusercontent.com/wbond/package_control/master/example-repository.json).

[2018-05-09 07:53] blake-regalia commented on #50
I just successfully implemented this, but unfortunately the `embed` feature is not as great as I'd hoped. The issue is that we want to interpolate strings inside of nested syntaxes, but every time there is an interpolation with `embed`, the only option is to completely pop out of the nested syntax which causes it to lose the current context. So once the interpolation ends and we're back in the str

[2018-05-09 08:15] bathos commented on #50
I’m not sure there’s any way around this — even if the nested context could be retained after leaving the interpolated sequence, it could easily be invalid on account of whatever got "black boxed" by the interpolation. That is, if I have a grammar that expects X Y Z, but considers X Z unintelligible, and the interpolation is like X { 'Y' } Z, there would be no recovery regardless of context.

I ra

[2018-05-28 08:20] user-982634 opened #52 "[JavaScript] some highlighting issues"
See https://github.com/sublimehq/Packages/issues/1600

Your syntax package fails for the same test cases as in the linked issue.
According to the fact that this repo is labeled as *"Sublime-syntax definition for ES6+ with **absurdly specific** scopes"*, I hope you would be interested in fixing these issues.

If I can help somehow, let me know.

[2018-05-28 08:59] bathos commented on #52
I remember you, buddy.

[2018-05-28 08:59] #52 closed

[2018-05-28 09:27] user-9826341 commented on #52
@bathos

This is the most confusing comment I read so far on github. At least, I hope you can explain to yourself why you closed this, since I don't see the reason, nor I understand what you mean.

I am wondering are you crazy or what? Can you explain why have you blocked my account and why have you closed this issue. I think your actions are very non-professional.

[2018-05-28 10:30] bathos commented on #52
_You mean there’s two of you?_

---

On the off chance that you’re really not the same user:

A year ago someone began opening issues here for various unusual, but syntactically legal, constructions. Like you, this person cross-posted the issues on both this repo and Sublime HQ. Some were things we could fix, and did; one was even something a person might encounter in real code. Some were things w

[2018-05-28 11:02] user-9826341 commented on #52
@bathos

Thanks for explaining. At first, I was surprised because when you closed my issue I was confused and I thought that I did something wrong or that this repository are so unwelcoming.

I am ok with not fixing these issue, I was just wondering if maintainers of this repository would like to know about test cases I found, but if your main goal is performance I think there is really nothing to

[2018-05-28 11:31] user-982634 commented on #52
Thanks for unblock. I hope you have a great day!

[2018-05-28 12:19] bathos commented on #52
NP, and sorry for the mix-up. It really seemed like deja vu; some of the items in the list are even the same.

I just read Thom’s proposal. It’s very nicely assembled and we would surely take advantage of that if it existed. In practice, the places where the limitations are felt almost always involve newlines but they are usually still rather short. Multiline destructuring, especially of arguments

[2018-05-29 00:37] blake-regalia commented on #52
I'm totally with you on this one, and have also had thoughts about generating the def before as well.  Another benefit is that it could also make it easier to export defs for e.g., [ace](https://ace.c9.io/#nav=higlighter), [minted](https://github.com/gpoore/minted), atom, etc.

[2018-07-25 14:42] bathos commented on #51
I’m told this has begun again. My guess is that it was triggered indirectly by changes in one of the delegated syntaxes, though I won’t be able to check which till later :/

[2018-07-25 17:19] blake-regalia commented on #51
Can anyone share a snippet that causes this? Also what version of Sublime? I'm running build 3176 and am not able to get any errors.

[2018-07-25 17:36] bathos commented on #51
I’ll try to get some more info. Two people messaged me directly about it today. My impression was that, as before, no file even needs to be open — it just happens from the extension existing at all.

[2018-07-25 18:14] blake-regalia commented on #51
Hmm... just looked through all the latest [base syntax](https://github.com/sublimehq/Packages/tree/master) package commits that might affect this and found: CSS, SQL, and ShellScript syntaxes changed in last few weeks, the only suspicious commit being for bash at this line here: https://github.com/sublimehq/Packages/commit/4cfa7b9c37a54c84031d7b165ce1e5a888b94da6#diff-fe682d41416db7dad26aa8c60e0dc

[2018-07-25 20:35] acconrad commented on #51
Hi there! So I was one of those two people to message about this. I have the Ecmascript syntax installed on ST3.1.1 build 3176.

Steps to reproduce:

1. Open SublimeText. It will blow up only one
2. Open a repo with both `.md` and `.js` files where the default syntax for `.md` is `Markdown` and the default syntax for `.js` is `Ecmascript`
3. Open a readme or javascript file
4. The following popup

[2018-07-25 21:34] blake-regalia commented on #51
Thanks @acconrad , can you please confirm which version of the "Ecmascript Syntax" package you have installed? Ctrl+Shift+P > "Package Control: List Packages" > "Ecmascript Syntax".

[2018-07-26 01:48] acconrad commented on #51
<img width="598" alt="screen shot 2018-07-25 at 9 47 51 pm" src="https://user-images.githubusercontent.com/422184/43236669-f0b6fb4e-9075-11e8-8e1a-f532ad47799c.png">

Looks like I'm on the same version as you

[2018-07-26 20:46] blake-regalia commented on #51
This is a tricky one -- not sure what's causing it but I went ahead and published a release that might fix it. Please restart Sublime, check that it updates Ecmascript Syntax to v1.6.7 and then see if the problem still exists.

[2018-07-27 02:43] blake-regalia commented on #51
Hmm - I'm still unable to reproduce this no matter what I try, but I have some ideas about diagnosis, @acconrad . This should help us narrow it down:

1. Remove the Ecmascript Syntax package via Package Control.
2. Open the user preferences directory, Sublime Text > Preferences > Browse Packages ... "User". _Do you have an "ecmascript.sublime-settings" file here? What about a "Markdown.sublime-set

[2018-07-27 03:13] acconrad commented on #51
@blake-regalia It did blow up on Step 4. I followed it to the tee, _but_ I only had a `ecmascript.sublime-settings` file in that `User/` folder but _not_ a `Markdown.sublime-settings`, so what's next?

[2018-07-27 03:50] blake-regalia commented on #51
Interesting... What are the errors you got? Could you post a screenshot?

[2018-07-27 04:14] blake-regalia commented on #51
Btw @acconrad for our own sanity, and to get you coding again in the meantime, I created a branch without nested syntax support. Here's how you can install it:

[code]

Then, View > Syntax > Open all with current extension as... > User > Ecmascript

[2018-07-27 04:50] bathos commented on #51
Thanks for going deep on this blake, it’s very appreciated. I haven’t been able to repro either unfortunately.

[2018-07-27 06:05] blake-regalia commented on #51
@bathos I figured this out. Oddly enough, it appears that ST 3176 may or may not (depending on your OS it seems) load the Ecmascript syntax as the default `scope:source.js`, such as when the [base HTML syntax](https://github.com/sublimehq/Packages/blob/master/HTML/HTML.sublime-syntax#L612) embeds javascript. However, if I change our root scope from `source.js source.es` to just `source.js`, then i

[2018-07-27 15:04] acconrad commented on #51
@blake-regalia you are awesome, thank you for diving into this!

[2018-07-31 00:29] blake-regalia commented on #51
@bathos I drafted a release for 1.7.0, but want to make sure it doesn't break anything else incidentally. Could you update your local repo and check that everything looks good?

[2018-09-02 23:49] naoki-s opened #53 "HTML highlighting not working"
If I use the block comment directive for HTML (`/* syntax: html */`), anything following it appears like a comment. The directive for XML (`/* syntax: xml */`) works properly though.

(ver. 1.6.8; Sublime Text 3.1.1, Build 3176; macOS 10.13.6)

[2018-09-02 23:54] blake-regalia commented on #53
Fixed in [1.7.0](https://github.com/bathos/Ecmascript-Sublime/releases/tag/1.7.0)

[2018-09-02 23:54] #53 closed

[2018-09-02 23:55] blake-regalia commented on #51
Released [1.7.0](https://github.com/bathos/Ecmascript-Sublime/releases/tag/1.7.0)

[2018-09-02 23:55] #51 closed

[2018-09-03 11:52] bathos commented on #51
Sorry I missed that last request @blake-regalia ... but wow! This is a crazy impressive update (and everything seems to be fine).

[2018-09-04 02:49] bathos commented on #51
May have spoken too soon. I’ve seen no highlighting issues, but it seems that shortcuts for commenting out lines (both single and multi) have stopped working. If you can confirm (not 100% sure ES Sublime is the cause yet) I’ll open a new issue.

[2018-09-04 03:31] blake-regalia commented on #51
Hmm I can't seem to reproduce this yet. I just noticed some old scopes on a few .tmPreferences files and patched them real quick, see if that did anything?

[2018-09-06 06:42] dangh opened #54 "Consider bring back source.js scope"
I just notice today that my snippets stop working because the top level scope changed from `source.js source.es` to `source.es` only.

I think there's lot of packages only support `source.js` since it's come with the default syntax. Should we bring it back?

[2018-09-06 06:57] blake-regalia commented on #54
Ahhh -- sorry guys, this was my mistake. I just patched a fix and will release shortly. I suspect this might have been related to the issue @bathos was having. I'll explain the problem in more detail in the release.

[2018-09-06 07:19] blake-regalia commented on #54
@dangh can you let me know if [this](https://github.com/bathos/Ecmascript-Sublime/releases/tag/1.7.1) fixes the issue?

[2018-09-06 07:40] dangh commented on #54
@blake-regalia It's working now. Thanks for the fix.

[2018-09-06 07:40] #54 closed

[2018-09-06 14:56] bathos commented on #51
This was fixed by the new release! Thanks again. 🙇

[2018-09-19 09:16] Janpot opened #57 "a way of setting the default syntax for a template tag"
right now you can do
[code]
Which is extremely helpful.  But it also requires me to write
[code]
everywhere.
Would it be possible to somewhere in the file "bind" the syntax with the template tag so it will be applied automatically everywhere it is used? i.e.
[code]

Edit:

Or maybe something like:

[code]

[2018-09-19 09:31] Janpot opened #58 "Add support for graphql nested syntax"
As title says 🙂
I'd say `graphql` tagged templates are quite common in javascript code

[2018-09-19 10:44] Janpot opened #59 "Comma background in destructuring assignments"
Something seems to be a bit off on the commas when I destructure multiple values
![screen shot 2018-09-19 at 12 41 24](https://user-images.githubusercontent.com/2109932/45748623-95473700-bc09-11e8-9450-cd216edb1161.png)

[2018-09-19 14:29] bathos commented on #59
@Janpot the choices of what coloring to apply to scopes comes from themes rather than the syntax definition. ES Sublime comes bundled with some themes, but that’s not one of them.

[2018-09-19 14:29] #59 closed

[2018-09-19 15:15] blake-regalia commented on #58
Sure! The problem though is that as of now there only seems to be one GraphQL syntax and the scopes that it creates look terrible in our color schemes, we actually have this problem with a few other syntaxes but this one in particular is really ugly:
<img width="388" alt="screen shot 2018-09-19 at 8 11 38 am" src="https://user-images.githubusercontent.com/1456400/45762705-d3316480-bbe3-11e8-85ec-2

[2018-09-19 15:33] Janpot commented on #59
You're right. Been using spacegray for years without a problem. Looks like current versions of sublime support default themes/color schemes that align better with my preferences. Thanks.

[2018-09-19 15:33] blake-regalia commented on #57
Unfortunately, this can't be done with syntax definitions -- but a similar effect could be achieved with a snippet, i.e., one that automatically inserts the `/* syntax: html */` comment for you, even including the `escapeHtml` part too. Perhaps if you can define how to trigger something like that then we can add a snippet to do make a shortcut for it.

[2018-09-19 15:36] Janpot commented on #57
snippets don't feel like the right solution for me either. nevermind, I guess it was a long shot anyway.

[2018-09-19 15:36] #57 closed

[2018-09-19 15:37] blake-regalia commented on #59
@Janpot if you're using nested syntax directives then I'd recommend checking out the `excelsior` Ecmascript theme.  Cmd+Shift+P > UI: Select Color Scheme > excelsior

[2018-09-19 15:42] Janpot commented on #59
Thanks. I've always been using
https://github.com/kkga/spacegray/blob/master/base16-ocean.dark.tmTheme
For now the Mariana default color scheme seems to hurt my eyes the least. I don't think I'm ready to go with excelsior yet.

[2018-09-19 16:01] bathos commented on #59
I would love to get some 'es-sublime enhanced' versions of common schemes in here at some point, though I’m not exactly the greatest at that stuff.

[2018-09-20 06:39] Janpot commented on #58
@blake-regalia I also just realised I often use `lua` in javascript for scripting with redis. Do you think that would be valuable target as well for nested syntax?

[2018-09-20 16:21] blake-regalia commented on #58
@Janpot absolutely. Lua syntax comes with ST3 and their scopes tend to look more natural in the color scheme so that should be no problem.

[2018-09-23 19:06] blake-regalia commented on #58
@Janpot [v1.8.0](https://github.com/bathos/Ecmascript-Sublime/releases/tag/1.8.0)

[2018-10-19 11:09] OdinTech3 opened #60 "Error loading colour scheme Packages/Ecmascript Syntax/excelsior.tmTheme"
When I try to use the excelsior theme from the Ecmascript Sublime Package, I get this:

![screen shot 2018-10-19 at 7 07 54 am](https://user-images.githubusercontent.com/14257815/47214992-c3857700-d36d-11e8-8dbd-b2abbcc7446e.png)

Running on MacOS  High Seirra 10.13.6 and using Sublime Text Build Version 3180

[2018-10-19 17:44] blake-regalia commented on #60
Thanks for the report. The excelsior file was recently moved to another location. As a workaround, you can simply choose that UI color scheme which is located at `Packages/Ecmascript Syntax/nested/build/ecmascript` (see 2nd list item in screenshot).
<img width="604" alt="screen shot 2018-10-19 at 10 36 18 am" src="https://user-images.githubusercontent.com/1456400/47234505-f0945280-d38a-11e8-88b5-d

[2018-10-19 20:48] bathos commented on #60
@blake-regalia I’ve never looked into how this is done, but fairly often I’ve seen packages display a notice file to communicate new features or breaking changes on upgrade. What are your thoughts on removing the symlink and letting people know how to proceed with a notice like that?

[2018-10-20 04:53] blake-regalia opened #61 "Update repository description"
Would it be nice to clarify that the syntax actually supports ES2018(9?) and/or Stage 4 proposals?

[2018-10-20 05:05] blake-regalia commented on #60
Sounds good to me, i'll get this going

[2018-10-20 17:35] bathos commented on #61
It gets pulled in by Package Control as the package description, right?

I thought about adding more keywords last time I updated the Package Control entry but was reluctant to be comprehensive for fear of it being spammy. Expanding the repo desc is a good idea, probably the more kosher way to make it discoverable / clarify its purpose.

[2018-10-21 04:41] blake-regalia commented on #60
Fixed in [v2.0.0](https://github.com/bathos/Ecmascript-Sublime/releases/tag/2.0.0)

[2018-10-21 04:41] #60 closed

[2018-10-21 05:15] blake-regalia commented on #61
@bathos

Agreed - "absurdly specific scopes" is succinct and catchy!

Good point, although it probably helps discoverability when searching the web. Then again, "Sublime" is also in the name of the package.

Something else to consider is that PackageControl (or ST3?) is cutting text from the description line if it is too wide for the command palette modal.
<img width="605" alt="screen shot 2018-10

[2018-10-21 05:43] bathos commented on #61
LGTM — updated it. Unsure if Package Control will pick that up automatically or if it only “takes” when it detects a new release.

[2018-10-21 06:38] #61 closed

[2019-03-08 00:55] freemember007 opened #62 "Add support for pug nested syntax"
function UIClickUseState(props) {
  const [count, setCount] = useState(0)
  useEffect(() => {
    document.title = `You clicked ${count} times`
  })
  return pug`
    div.red.f1
      if props.showGreeting
        p.greeting Hello #{props.name}!
      button #{count} Click Me
`}

[2019-03-08 03:51] bathos commented on #62
Sounds good. I would guess this can be added following the pattern @blake-regalia has established for other tagged template cases if a sublime syntax def for pug already exists. Otherwise we’d have to add new rules just for pug (which is okay, but it’d be nice to just be able to reuse what’s out there).

@freemember007 is there an existing pug sublime syntax package?

[2019-03-08 08:27] freemember007 commented on #62
@bathos yes, existing pug sublime syntax package, and I have achieved it by modifying the ecmascript.sublime-syntax source file:
[code]

[2019-03-08 16:24] bathos commented on #62
Nice.

I wonder if we should allow just recognizing certain “well-known” tags like “pug” without the hint comment? It seems sufficiently unlikely to me that the name “pug” would appear for other tags.

In any case, having added it @freemember007, please feel free to open a PR with your changes if you believe this is working right and will be useful to others.

[2019-03-08 18:02] blake-regalia commented on #62
Thanks @freemember007 . I will take care of PR -- I have a local branch which adds pug following the same build process as HTML and Markdown because these syntaxes push or embed `source.js`, so we have special handling to prevent infinite recursion / exceeding stack limit in ST3.

However, it seems that [pug-tmbundle](https://github.com/davidrios/pug-tmbundle) might be slightly incompatibility wit

[2019-03-10 22:39] blake-regalia commented on #62
After spending a bit of time working on this, it's clear that the existing pug syntax requires somewhat substantial modifications to be compatible within ours. It also leaves something to be desired since it is does not always follow conventional scope naming. The repo has gone stale some time ago and I personally use pug wherever I can so I may just end up forking or rewriting the pug syntax from

[2019-04-28 00:36] blake-regalia opened #64 "Build process does not work on Windows"
Please fix @blake-regalia

[2019-04-28 04:25] bathos commented on #64
I’ll have access to a *nix machine again shortly, btw — so if this is a chore and your motivation for addressing it is only that I ran into it earlier, don’t sweat it.

[2019-04-28 17:12] bathos opened #65 "Pipeline operator"
I’d like to handle this syntax soon because while [the proposal](https://github.com/tc39/proposal-pipeline-operator) remains at stage 1, it has had enduring traction in the community and it is currently seeking feedback based on developer usage via Babel.

The tricky bit is that the proposal has two forms, each with different syntax. I believe it should be possible to handle the ‘union’ of the two

[2019-05-10 23:06] nhooyr opened #67 "styled jsx has no css autocomplete and emmet does not work"
Title.

The autocomplete doesn't' autocomplete css, it's just the generic autocomplete and emmet also does not work.

[2019-05-10 23:07] nhooyr commented on #67
Oddly enough, if you put a period first, autocomplete works:

<img width="1274" alt="Screen Shot 2019-05-10 at 7 07 22 PM" src="https://user-images.githubusercontent.com/10180857/57560889-d89c1480-7356-11e9-830e-a8b96e2d1bd7.png">

Not sure what's going on.

[2019-05-10 23:11] nhooyr commented on #67
Emmet thinks the CSS is JSX.

Also, the scope for the CSS selectors is property-value for some reason.

<img width="1274" alt="Screen Shot 2019-05-10 at 7 11 07 PM" src="https://user-images.githubusercontent.com/10180857/57560998-637d0f00-7357-11e9-8762-88a0dbb63672.png">

[2019-05-10 23:16] nhooyr commented on #67
The `/* syntax: css */` makes everything work properly again aside from emmet.

[2019-05-11 05:14] bathos commented on #67
This is related to the fact that the autodetected styled jsx and css tags without a syntax directive do not delegate to the default sublime css definition, which borks easily when there are interpolated values in the CSS. (We might be able to fix it by tweaking the root scopes that uses, not sure.)

[2019-07-22 21:16] joshfester opened #69 "Use a package setting to override the block comment directive syntax"
It would be very useful if it were possible to use a package setting to change the block comment syntax from `syntax: {SYNTAX_NAME}` to something else. I'm working with a team that uses other editors like VSCode and Atom. Those editors have similar plugins, but use a different syntax. If this setting were available, we could have a unified syntax for the entire team without worrying about what the

[2019-07-22 23:24] bathos commented on #69
AFAIK, doing this would require generating new versions of the syntax definition dynamically in response to settings changes, implying a runtime component to this plugin that doesn’t currently exist. My guess is that it would be possible. Maybe there’s some prior art out there for this?

@blake-regalia is that correct, or do you know of other mechanisms by which user variables could be used in sub

[2019-07-24 14:52] blake-regalia commented on #69
Not feasible. Syntax definitions currently have to be static in Sublime Text other than the way @bathos describes.

@joshfester i'd be curious to know how do the other editors/plugins use such directives? Keep in mind that we also support highlighting triggered by a few template tags such as `html` and `css` (which we should probably document).

[2019-07-24 15:02] joshfester commented on #69
@blake-regalia it seems like most of them use `/* {SYNTAX_NAME} */`. However, I believe template tags would also be a great solution. I was not aware there was support for that!

[2019-07-24 17:59] bathos commented on #69
It seems reasonable to me to make the `syntax:` prefix optional. If that aligns with how others are doing this, it’s definitely a lot simpler than adding a runtime thingie for generating (and then managing?) custom definitions.

[2019-07-27 00:19] bensmithett opened #70 "Add support for interpolated attribute values in HTML / HTML-like template tags without quotation marks"
👋 thanks for the excellent package!

Is it possible to support [htm](https://github.com/developit/htm) syntax?

**Expected:**

![htm](https://user-images.githubusercontent.com/771396/61987045-b44afc80-b056-11e9-914f-332043b9e8da.png)

**Current (html syntax)**

![2019-07-27 at 10 13 am](https://user-images.githubusercontent.com/771396/61987158-874b1980-b057-11e9-96ab-11eb5019cf01.png)

It's _almos

[2019-07-27 01:41] bathos commented on #70
For most template tag language modes, yes, we just delegate to existing definitions. But iirc, HTML may be one of the exceptional cases where we’re baking in a customized version, so this may be addressable.

The problem you’re running into appears to specifically be about attribute quotation marks. When we get past the interpolated segment, we’re still expecting opening quotation marks for an HTM

[2019-07-27 01:50] bathos commented on #70
I missed the second item in your screenshot on the first read, the use of interpolated segments in place of tag names. That’s a bit trickier since the assumption we need to make is weaker. That is, `attr=${}` is a strong signal because we know the sequence must begin with an attribute value (even if it’s the empty string), and we couldn’t possibly be expected to recover if someone did things like

[2019-07-27 04:42] bathos commented on #70
@bensmithett It turned out solving for both cases was possible without the kind of ‘correctness’ concessions I thought would be necessary. I’m gonna wait for a sign off on the PR from Blake since he knows the tagged template stuff much better than I do, but I think it’s likely gonna work.

BTW, for html you can omit the /* syntax: html */ now if the name of the tag is `html`.

[2019-07-27 04:46] bathos commented on #28
This has sat around long enough for everybody to stop using flow so I’m gonna close it ;)

[2019-07-27 04:46] #28 closed

[2019-07-27 05:50] bensmithett commented on #70
@bathos amazing, thanks!

[2019-07-27 07:05] blake-regalia commented on #70
it is possible - i can do some black magic and have the embedded HTML syntax explicitly allow interpolated elements to act as unquoted attribute values. This opens up pandora's box a tiny bit since we would also want to consider all embedded contexts that should recover from interpolated elements, but i definitely see the value in making this work for markup languages. We wouldn't try to recover f

[2019-07-27 07:07] blake-regalia commented on #70
**Update** just saw the two prev posts and the PR. Will check it out now.

[2019-08-15 22:52] blake-regalia opened #72 "AE identifiers prefixed with reserved words followed by `$`"
If an identifier is prefixed by a reserved word followed by `$` in an assignment expression, the highlighter scopes it as `constant.language` and `invalid.illegal` -- but it should be a valid identifier.

[code]

[2019-08-19 19:51] joshfester commented on #69
That would be perfect!

[2019-08-21 05:25] blake-regalia opened #74 "Digits after binary/octal"
Not sure how this happens yet but binary and octal numbers suffixed with digits outside their range are not marked as invalid.

[code]

[2019-08-29 19:33] blake-regalia opened #75 "Async iterable inline literal object"
[code]

[2019-08-29 20:28] #75 closed

[2019-08-31 11:14] bathos commented on #74
This is an example of a more general thing which we currently allow in nearly all cases without attempting to mark invalidity: one assignment expression following another without a semicolon or (if applicable) a possible ASI opportunity. For example:

![image](https://user-images.githubusercontent.com/6257356/64061590-142f4880-cbab-11e9-9838-5ef63b6282cf.png)

Although less surprising visually, th

[2019-08-31 11:17] bathos commented on #74
(tagging both 'bug' and 'enhancement' wouldn’t quite capture the nature of this issue like _bughancement_ does)

[2019-09-29 19:45] bathos commented on #74
Just an update:

I dug into the ASI question more today. The logic can be generalized to address the whole category in theory, but it still fails under most common circumstances because all the constructs to which ASI can apply also (implicitly) have meta_include_prototype: true. That means they’ll consume whitespace (including newlines) and comments (including newlines) greedily. Putting meta_inc

[2019-09-30 03:48] blake-regalia commented on #74
Really interesting getting this deep into the syntax -- I wonder if this will be yet another aspect of the language that ultimately motivates us to transition to a mostly generated syntax. We could easily experiment with the feasibility of recursively generating contexts for situations like this.

By the way, I ended up creating [this API/extension](https://github.com/blake-regalia/syntax-source.j

[2019-11-22 00:24] nhooyr commented on #67
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:24] #67 closed

[2019-11-22 20:05] blake-regalia commented on #70
Fixed in [v2.1.2](https://github.com/bathos/Ecmascript-Sublime/releases/tag/2.1.2). Interpolation now supports tag names, attribute names, attribute values, and text node values.

[2019-11-22 20:05] #70 closed

[2019-12-17 02:37] blake-regalia opened #79 "Associating Ecmascript with source.js ?"
I vaguely recall running into this issue before, but it seems that if another syntax uses `embed: source.js`, then ST3's default JavaScript syntax is used to highlight the embedded text rather than the Ecmascript syntax.

I assumed [this file](https://github.com/bathos/Ecmascript-Sublime/blob/master/ecmascript-js.sublime-syntax) should take care of associating the `source.js` scope with Ecmascript

[2019-12-17 06:36] blake-regalia commented on #79
Somehow @Thom1729 figured this out [here](https://github.com/sublimehq/Packages/issues/179#issuecomment-389253300)... although for some reason I cannot get ST3 to use my dummy syntax when embedding `source.js` even though it is clearly working with JS Custom.

[2019-12-25 20:47] blake-regalia opened #81 "Update README ?"
I think it would be nice to have an organized overview of all the features on the README. Ideally, this would give the public an idea of what distinguishes this package from others, which is quite a lot. And then perhaps move all the release history stuff to `CHANGELOG.md`?

If this sounds okay, I can get a PR started in the next few days/weeks.

[2019-12-25 21:03] bathos commented on #81
Sounds great to me. A lot of the notes from early on are likely either outdated or not especially important, so don’t feel obligated to retain stuff that you don’t think is helpful. Maybe if some of the more implementation details-y stuff and the scopes list were placed in distinct markdown files it’d help get it more focused?

[2019-12-27 04:20] #72 closed

[2019-12-27 04:28] blake-regalia commented on #79
Got this working finally with some voodoo nonsense by renaming the embedded syntax file in 52158ca. Now just need to fix the safe-mode's main context.

[2019-12-27 04:56] blake-regalia commented on #79
Fixed! Ecmascript Safe Mode will now be loaded for embedded Javascript, e.g., in HTML views 🎉

Although, it would be great to make HTML look nicer in excelsior.

[2019-12-27 04:56] #79 closed

[2019-12-27 05:30] blake-regalia commented on #79
**EDIT:** ~~Although, it would be great to make HTML look nicer in excelsior.~~

My local color scheme was outdated, forgot that I already coded transfer of JSX styles onto all XML-like scope names and it looks great.

[2019-12-27 05:44] dangh opened #82 "Symbols are not indexed in embedded syntax"
Related to #79

In the embedded syntax, there are no `source.es` scope, so our symbols are not indexed. Should we include `source.es` in the embedded syntax or remove it from the tmPreferences files?

@blake-regalia

[2019-12-27 06:19] blake-regalia commented on #82
Very good observation.

[2019-12-27 07:23] #82 closed

[2020-01-01 22:55] blake-regalia commented on #58
Should also add highlighting support for template tag `gql` from  https://github.com/apollographql/graphql-tag

[2020-04-27 05:49] blake-regalia commented on #69
@joshfester [see 2.4.0](https://github.com/bathos/Ecmascript-Sublime/releases/tag/2.4.0).

I'm going to close this issue for now but I am still interested in dynamic or user-generated nested syntax capabilities. Feel free to open a new issue for that if you'd like.

[2020-04-27 05:49] #69 closed

[2020-05-13 07:19] coloraggio opened #84 "Add DOM support for built-in color schemes"
Standard JavaScript syntax that comes with SublimeText has pretty decent DOM support and to my surprise this package, though very good in other areas, has very limited support of it, if any at all.
This appears to be an issue with the package not properly supporting built-in SublimeText color schemes (Monokai, Mariana, etc.)

[2020-05-13 22:49] bathos commented on #84
It’s intentional that platform API names aren’t scoped. Some of them used to be.

Assuming we’re just looking at globals, for a regular window env, there are over 800 named global platform objects / instances, not counting intrinsics. The specific set changes depending on [SecureContext], being in different types of workers, etc. New items are added very frequently.

One can choose an arbitrary su

[2020-05-14 05:33] blake-regalia commented on #84
@coloraggio : DOM globals are not part of the language. The same goes for node.js globals. If we assume too much about the user's environment, it can end up getting in their way as @bathos put it and cause annoying/misleading/unwanted syntax highlighting for those identifiers. I see the value in highlighting globals, but the browser is not the only environment this language is commonly used in ([s

[2020-06-10 18:47] ryanpcmcquen opened #85 "Turn off Safe Mode/Prefer Ecmascript standard mode."
Is there a way to disable 'Safe Mode'? My `*.js` files keep opening in it and it does not handle React's syntax very well, for example:

Without Safe Mode:

<img width="1188" alt="Screen Shot 2020-06-10 at 11 45 21 AM" src="https://user-images.githubusercontent.com/772937/84306221-0a5e4c80-ab10-11ea-8cc2-21f473a4dbbd.png">

With Safe Mode:

<img width="1046" alt="Screen Shot 2020-06-10 at 11 45 08

[2020-06-10 19:07] ryanpcmcquen opened #86 "LSP integration"
If I want to use the Naomi syntax package with LSP, I use a setting like this for the `LSP-typescript` package:

[code]

Where are the syntaxes stored for Ecmascript? I can't find them anywhere in the Sublime `Packages` directory.

[2020-06-10 21:54] #85 closed, assigned to nobody

[2020-06-10 22:17] #86 closed, assigned to nobody

[2020-06-11 06:05] blake-regalia commented on #86
Okay, maybe I misunderstood the initial question my apologies @ryanpcmcquen . If you installed Ecmascript from PackageControl the main syntax will be at `"Packages/Ecmascript/ecmascript.sublime-syntax"` . The contents of the .sublime-package installed from PackageControl is just a zip of the root source code directory in this repo.

[2020-06-11 06:10] ryanpcmcquen commented on #86
Thank you @blake-regalia, I'll try that and report back.

[2020-06-19 06:53] coloraggio commented on #84
Sorry for a late reply @blake-regalia @bathos. During this pandemic, I abandoned my 10y interpreted language writing career and moved to modern compiled ones recently for my own peace of mind, so above isn't an issue for me anymore and can be closed. Thanks for the package, still on my ST3 when I need to write js here and there.

[2020-06-19 07:49] bathos commented on #84
np. It’s a good issue to have on file for others to discover if they’re looking for the same thing. Good luck with the new trajectory (but don’t leave us hangin! — which language(s)?)

[2020-06-19 07:49] #84 closed

[2020-06-19 11:38] coloraggio commented on #84
Thanks! mostly use go for apis and backends atm, also toying with rust a little and trying to not dislike bloated swift as I want to generate some income with ios/macos development in near future.